<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <mvc:annotation-driven/>

    <!--核心服务类-->
    <context:component-scan base-package="com.twjitm.core.service.*.Impl" use-default-filters="false"/>

    <!--协议栈编码解码器工厂扫描-->
    <context:component-scan base-package="com.twjitm.core.common.netstack.*"/>

    <!--基础服务类-->
    <context:component-scan base-package="com.twjitm.core.common.service.*"/>


    <bean id="springLoadService" class="com.twjitm.core.spring.SpringLoadServiceImpl"/>
    <bean id="messageRegistryFactory" class="com.twjitm.core.common.factory.MessageRegistryFactory" init-method="init">
        <property name="namespace" value="com.twjitm.core.common.entity.chat"/>
    </bean>
    <!--原子id生产器-->
    <bean id="longIdGenerator" class="com.twjitm.core.utils.uuid.LongIdGenerator"/>
    <bean id="nettyNetMessageProcessLogic" class="com.twjitm.core.common.process.NettyNetMessageProcessLogic"/>
    <bean id="nettyTcpMessageFactory" class="com.twjitm.core.common.factory.NettyTcpMessageFactory"/>

    <!--消息处理队列-->
   <bean id="nettyTcpMessageQueueExecutorProcessor" class="com.twjitm.core.common.process.tcp.NettyTcpMessageQueueExecutorProcessor"/>


</beans>